body{
    background-color: #2e3457;
    position: relative;
    background: url("../FloridiansPictures/_DSF8790-2 1.jpeg");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Header*/
.headerContainer{
    height: 500px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 100;
    justify-items: center;
}

.header{
    display: flex;
    background-color: black;
    border-radius: 100px;
    height: 80px;
    align-items: center;
    justify-content: center;
    top: 10px;
    bottom: -90px;
    width: 100%;
    z-index: 101;

}

.title{
    font-family: Georgia, serif;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    flex-shrink: 0;
}

.headerPicture{
    height: 50px;
}

.logos{
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

/* Front Page*/
.firstPage{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-items: center;
    margin-top: 20px;
    column-gap: 5%;
}

.middleSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.bioImage{
    width: 100%;
    border-radius: 70px;
}

.bio{
    background-color: lightblue;
    border-radius: 70px;
    margin-top: 20px;
    z-index: 102;
    font-stretch: auto;
}

.bioHeader{
    text-align: center;
    color: #5594d3;
    font-weight: 700;
    padding-top: 8px
}

.bioParagraph{
    padding: 0 8px 15px 20px;
    font-family: Helvetica, serif;
    font-weight: 500;
    line-height: 130%;
}


@media (max-width: 800px){
    .header{
        width: 708px;
    }

 .middleSection{
     width: 318px;
 }

 .newReleaseContainer{
     width: 159px;
 }

 .sidebarContainer{
     width: 90px;
 }

 .newReleasePicture{
     width: 143px;
 }

}