html {
    background-color: #2e3457;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    isolation: isolate;
}

body::before {
    content: "";
    position: fixed;

    top: -100px;
    right: 0;
    bottom: -100px;
    left: 0;

    background-image: url("../FloridiansPictures/_DSF8790-2 1.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}
/*Header*/
.headerContainer{
    margin: 20px 5%;
    position: relative;
    z-index: 100;
    justify-items: center;
}

.header{
    display: flex;
    background-color: black;
    border-radius: 100px;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 101;

}

.title{
    font-family: Georgia, serif;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    flex-shrink: 0;
}

.headerPicture{
    height: 50px;
}

.logos{
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

/* Front Page*/
.mainSectionContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainSection{
    width: 873px;
    justify-content: center;

}

.bioImage{
    width: 100%;
    border-radius: 70px;
}

.bio{
    background-color: lightblue;
    border-radius: 70px;
    z-index: 102;
    font-stretch: auto;
}

.bioHeader{
    text-align: center;
    color: #5594d3;
    font-weight: 700;
    padding-top: 8px;
    margin-bottom: -5px;
}

.bioParagraph{
    padding: 0 8px 15px 20px;
    font-family: Helvetica, serif;
    font-weight: 500;
    line-height: 130%;
}


@media (max-width: 1040px) {

    .mainSection{
        width: 80%;
    }

    .bioParagraph {
        padding: 0 10px 10px 20px;
        font-size: 15px;
    }

}

@media (max-width: 650px) {

    .mainSection{
        width: 75%;
        min-width: 250px
    }

    .bioParagraph {
        padding: 0 15px 15px 25px;
        font-size: 11.5px;
    }

    .bioImage{
        width: 100%;
    }

    .header {
        height: 60px;
        border-radius: 50px;
        min-width: 300px;
    }

    .title {
        font-size: 25px;
    }

    .headerPicture {
        height: 25px;
    }

}


