
/* Front Page*/
.mainSectionContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

.mainSection{
    margin-top: 20px;
    width: min(90%, 1250px);
    justify-content: center;

}

.logoContainer {
    width: 100%;
}

.logo {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.bioImage{
    width: 100%;
    border-radius: 70px;
}

.bio{
    border-radius: 70px;
    z-index: 102;
    font-stretch: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.bioHeader{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: -5px;
}

.bioParagraph{
    text-align: center;
    padding: 15px 10px 15px 10px;
    font-family: Helvetica, serif;
    font-weight: 500;
    line-height: 130%;
    color: white;
}

@media (max-width: 1040px) {

    .bioParagraph {
        padding: 20px 10px 10px 20px;
        font-size: 16px;
    }

}

@media (max-width: 650px) {

    .mainSectionContainer{
        margin-top: 70px;
    }

    .bioParagraph {
        padding: 20px 15px 15px 25px;
        font-size: 13px;
    }
}



