.newReleaseContainer{
    background: linear-gradient(45deg, #a100ff, #4000ff);
    color: white;
    height: 30%;
    min-height: 600px;
    border-style: solid;
    border-color: #850000;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.newReleaseTitle{
    font-family: Helvetica, serif;
    text-align: center;
    font-size: 200%;
}

.newReleasePictureContainer{
    display: flex;
    justify-content: center;
}

.newReleasePicture{
    border-radius: 50px;
    width: 90%;
}