.newRelease{
    background: linear-gradient(45deg, #a100ff, #4000ff);
    color: white;
    border-style: solid;
    width: 500px;
    justify-content: center;
    border-color: #850000;
    border-radius: 70px;
    display: flex;
    align-items: center;

}

.newReleaseTitle{
    font-family: Helvetica, serif;
    text-align: center;
    font-size: 200%;
    flex: 2;
}

.newReleasePictureContainer{
    flex: 1;
}

.newReleasePicture{
    border-radius: 50px;
    height: 300px;
}

@media (max-width: 750px){

    .newReleasePicture{
        width: 70%;
    }

    .newReleaseTitle{
        font-size: 100%;
    }

}