.sidebarContainer{
    display: flex;

}

.sidebar{
    background-color: black;
    color: white;
    height: 600px;
    z-index: 200;
    width: 90px;
    top: 110px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
}

.sidebarLogo{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.spotifyLink{;
    align-content: center;
    flex-shrink: 100;
}

.sidebarMore{
    font-size: 120%;
    font-family: Helvetica, serif;
    font-weight: bold;
}