.sidebar{
    position: sticky;
    background-color: black;
    color: white;
    height: 600px;
    z-index: 200;
    width: 100px;
    border-radius: 70px;
    left: 1350px;
    margin-top: -500%;
    top: 110px;
    display: flex;
    flex-direction: column;
}

.sidebarLogo{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.spotifyLink{;
    align-content: center;
    flex-shrink: 100;
}

.sidebarMore{
    font-size: 20px;
    font-family: Helvetica, serif;
    font-weight: bold;
}