body{
    background-color: #2e3457;
    height: 2000px;
}
.header{
    height: 750px;
    position: relative;
}

.container{
    position: sticky;
    display: flex;
    background-color: black;
    border-radius: 100px;
    height: 80px;
    align-items: center;
    justify-content: center;
    top: 10px;
    z-index: 100;
}

.title{
    font-family: Georgia, serif;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
}

.instagramLink, .youtubeLink, title{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.youtubeLogo, .instagramLogo{
    height: 50px;
    color: white;
}

.backgroundImage{
    display: flex;
    flex: 1;
    position: absolute;
    top: 100px;
    width: 500px;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    border-radius: 70px;
}

.footer{
    position: sticky;
    z-index: 100;
    color: white;
    background-color: black;
    text-align: center;
    top: 1700px;
    font-size: 20px;
}